/*-----VALUES TO BE USED STORED IN VARIABLES-----*/
$color-1: #ffffff;
$color-2: #eef36a;
$color-3: #070410;
$color-4: #231651;
$color-5: #4DCCBD;
$font-1: "Lato", sans-serif;
$font-2: "Teko", sans-serif;
$small-sp: 16px;
$t-large-sp: 32px;
$d-large-sp: 48px;

/* Imports the selected Google Fonts */
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap";

* {
    /*-----CSS RESET: resets default spacing values-----*/
    margin: 0;
    padding: 0;
    /* Width and height takes account of border and padding spacing*/
    box-sizing: border-box;
}

body {
    /* 1.5: A number value that will multiply by the element's font-size */
    line-height: 1.5;
    background-color: $color-3;
}

/* Sets images to block and 
width to 100% which takes up the whole container */
img {
    /* Makes the image not stretch in the container but fill it properly
    although some parts of the image may not be visible */
    object-fit: cover;
    display: block;
    width: 100%;
}

a {
    /* H1 & Link hover transition */
    font-family: $font-1;
    /* Removes underline from the anchor tags */
    text-decoration: none;
    color: $color-1;
    transition: color 0.5s ease;

    &:hover {
        /* & or the parent selector is used to style the pseudo selectors */
        color: $color-2;
    }
}

h1 {
    transition: color 0.5s ease;
    font-family: $font-2;
    color: $color-1;

    &:hover {
        color: $color-2;
    }
}

ul {
    /* Removes bullet points from the unordered list */
    list-style-type: none;
}

button {
    padding: $small-sp;
    /* Rounds the corners of the button */
    border-radius: 10px;
    /* Removes the border */
    border: none;
    color: $color-3;
    background-color: $color-2;
    /* Displays all the letter in uppercase */
    text-transform: uppercase;
    font-family: $font-2;
    /* 2em: Will multiply the font-size based on the parent element 
    which will be the body's font-size typically 16px */
    font-size: 2em;
    cursor: pointer;
    /* Sets the button to position relative 
    allowing the before pseudo selector to be position 
    based on the button's location */
    position: relative;
    /* position the text in front of the before pseudo element */
    z-index: 0;
    /* overflow set to hidden to hide the overflowing content of the
    pseudo selector before of the button */
    overflow: hidden;
    transition: color 0.5s ease;

    &:hover {
        /* Button hover changes text color */
        color: $color-2;

        &::before {
            /* Hover Button's before pseudo selector transition */

            border-radius: 0%;
            width: 100%;
            height: 100%;
        }
    }

    &::before {
        /* Button's before pseudo selector */
        /* Returns the selector with an empty string */
        content: "";
        /* Absolute position to the button's relative position */
        position: absolute;
        /* position the before pseudo element behind the text */
        z-index: -1;
        /* position the selector at the bottom of the button 
        an move it by 50% to the left which is the anchor point
        and adjust it back by -50% */
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        /* Set width and height to 0 for transition */
        width: 0%;
        height: 0%;
        border-radius: 100%;
        background-color: $color-3;
        transition: width 0.5s ease, height 0.5s ease, border-radius 0.7s ease;
    }
}

h2 {
    font-family: $font-2;
    color: $color-1;
}

p {
    font-family: $font-1;
    color: $color-1;
}

header {
    display: flex;
    /* Centers the items vertically */
    align-items: center;
    /* Have equal spacing between items not including the edges */
    justify-content: space-between;
    background-color: $color-4;
    padding: $small-sp;

    h1 {
        font-size: 2em;
    }
}

nav {
    /* Don't display the navigation */
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

section {
    /* Sets a constraint width of 900px */
    max-width: 900px;
    display: grid;
    gap: $small-sp;
}

.movie-box {
    font-size: 1.5em;
    display: grid;
    /* Adds 1 row that automatically sizes based on the content within
    and another that will take up the remaining space */
    grid-template-rows: auto 1fr;
    background-color: $color-4;

    /* Adds a box shadow inside the movie box's buttons pseudo selector */
    button {
        &::before {
            box-shadow: inset 0 0 20px #4DCCBD;
        }
    }
}

.movie-content {
    padding: $small-sp;
    gap: $small-sp;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    button {
        /* Adds a shadow inside the button horizontally center 0px, 
    moving upward -30px, and blur by 80px */
        box-shadow: inset 0px -30px 80px #eef36a;
        background-color: $color-5;
    }
}

@media (min-width: 720px) {

    /* Styles for TABLETS */
    header {
        box-shadow: 0px 10px 50px #4DCCBD;

        h1 {
            font-size: 3em;
        }
    }

    nav {
        /* Displays the navigation */
        display: block;
        font-size: 1.2em;
    }

    #nav-container {
        gap: $t-large-sp;
        display: flex;
        justify-content: space-between;
    }

    section {
        margin: $t-large-sp;
        gap: $t-large-sp;
        /* Sets 2 equal columns */
        grid-template-columns: 1fr 1fr;
    }

    .movie-box {
        box-shadow: 0px 10px 15px #4DCCBD;
    }
}

@media (min-width: 1024px) {

    /* Styles for DESKTOPS */
    #nav-container {
        gap: $d-large-sp;
    }

    section {
        margin: $d-large-sp;
        gap: $d-large-sp;
    }

    #big-box {
        /* Sets the big movie box to occupy 2 columns */
        grid-column: span 2;

        img {
            /* Sets the big movie box image to have a height of 400px */
            height: 400px;
        }


        .movie-content {
            display: grid;
            grid-template-columns: 1.8fr 1fr;
        }

        button {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 120%;
        }
    }

    .movie-rows {
        /* Movie Boxes in Rows */
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }
}